.about-us {
  background-color: #12161c;
  height: 900px;
}

.about-us .container {
  width: 85%;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  height: 800px;

  align-items: center;
}

.about-us-image {
  width: 40%;
  display: flex;
  justify-content: center;
}

.about-us-image img {
  max-width: 100%;
}

.about-us-text {
  width: 58%;
  color: white;
}
.about-us-text .container {
  padding: 5% 5% 5% 5%;
  width: 70%;
}
.about-us-text p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}
.btn {
  color: white;
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1 {
  color: #3498db;
}
.btn1:hover {
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before {
  height: 180%;
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .about-us {
    height: 900px;
  }
  .about-us-text {
    width: 52%;
  }
  .about-us-text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .about-us-text {
    width: 60%;
  }
  .about-us-text .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about-us-text {
    width: 100%;
  }
  .about-us-text .container {
    padding: 5% 5% 5% 5%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
  }
  .about-us-image {
    display: none;
  }
  .about-us-text p {
    font-size: 18px;
  }
}
